body
{
    margin: 0 auto;
    padding: 20px;
    min-height: 100%;
    width: 80%;
    font-family: 'Arial', sans-serif;
}
form ul
{
    padding-left: 0;
    list-style-type: none;
}
form ul li
{
    margin: 20px 0;
}
form ul li label
{
    display: inline-block;
    width: 200px;
}
html
{
    height: 100%;
    background-color: #b0b1af;
}
h1
{
    color: #000f96;
}